html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 100px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: #ffffff;
}

body {
  
  background-color: #ffffff;
  
  
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #000000;
  text-shadow: 1px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}
button
{
  padding: 16px 32px;
  font-size: 16px;
  margin: 5px 5px 5px 815px;
}
